// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// CUSTOM VARIABLE
$primaryColor: green;
$primaryFont: 'Roboto',
sans-serif;

// Common Styles
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: #1a51d333;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
}

// CUSTOM STYLE




// RESPONSIVE CONTROLLER
@media screen and (max-width: 768px) {}